{% extends "layout/index.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/layout/dashboard.css') }}">
    {% block subheader %}
    {% endblock subheader %}
{% endblock header %}

{% block body %}
<div class="dashboard-container">
    <div class="dashboard-sidebar">  
        <img src="../../static/img/logo horizontal.png" id="javeriana-logo">
        <div class="categories-sidebar">
            <br><br><br>
            <form action="{{ url_for('manager_resource.secrets_home') }}" method="get" enctype="multipart/form-data">              
                <button type="submit" class="button-proof">
                    <img src="../../static/img/myitems.png" class="imgproof" >
                </button>
            </form>
            <br>
            <form action="{{ url_for('manager_resource.page_import_secrets') }}" method="get" enctype="multipart/form-data">               
                <button type="submit" class="button-proof">
                    <img src="../../static/img/importpassword.png" class="imgproof">
                </button>
            </form>
            <br>
            <form action="{{ url_for('manager_resource.page_export_secrets') }}" method="get" enctype="multipart/form-data"> 
                <button type="submit" class="button-proof">
                    <img src="../../static/img/exportpassword.png" class="imgproof">
                </button>
            </form>
        </div>
        <div id="add-sidebar">
            <hr class="margin-sidebar">
            <form action="{{ url_for('manager_resource.page_add_items') }}" method="get" enctype="multipart/form-data"> 
                <button type="submit" id="create-button">
                    <img src="../../static/img/createitem.png" id="add-img">
                </button>
            </form>       
        </div>
    </div>
    <div class="dashboard-content">
        {% block dashboard_content %}
        
        {% endblock dashboard_content %}
    </div>
</div>
{% endblock body %}