{% extends "layout/dashboard.html" %}

{% block title %}
Secret manager - Create Item
{% endblock title %}

{% block subheader %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/pages/add_item.css') }}">
{% endblock subheader %}


{% block dashboard_content%}
<div id="div-title">
    <img src="../../static/img/createnewitem.png" id="title-additems">
    <div>
        <div class="top-sidebar"></div>
    </div> 
</div>
<div id="div-passcontent">
    <form action="{{ url_for('manager_resource.page_create_item') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="nm">
        <input type="text" name="user">
        <input type="text" name="pass">
        <input type="submit" value="submit">
    </form>
</div>
<ul>
    {% for item in passwords %}
        <li>
            <label for="">{{ item.name }}</label>
            <input type="password" name="" id="" value="{{ item. password }}">
        </li>
    {% endfor %}
</ul>

{% endblock dashboard_content%}