{% extends "layout/dashboard.html" %}

{% block title %}
Secret manager: home
{% endblock title %}

{% block subheader %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/pages/secret_manager.css') }}">
{% endblock subheader %}



{% block dashboard_content%}
    <div id="div-title">
        <img src="../../static/img/youritems.png" id="title-allitems">
        <div>
            <div class="top-sidebar"></div>
        </div> 
    </div>
    <div id="div-passcontent">

        <ul>
            {% for item in passwords %}
                <li>
                    <label for="">{{ item.name }}</label>
                    <input type="password" name="" id="" value="{{ item. password }}">
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock dashboard_content%}

